Django==5.2.12
mysqlclient==2.2.8
gunicorn==23.0.0
Pillow==11.2.1
whitenoise==6.9.0
requests==2.32.5
arabic-reshaper==3.0.0
asgiref==3.11.1
certifi==2026.1.4
charset-normalizer==3.4.4
click==8.3.1
colorama==0.4.6
idna==3.11
packaging==26.0
python-bidi==0.6.7
sqlparse==0.5.5
tzdata==2025.3
urllib3==2.6.3
PyMySQL==1.1.2
xhtml2pdf==0.2.16
reportlab==4.2.5
openpyxl==3.1.5
